include topbar

header.jumbotron.padded.masthead
  .inner
    .container
      h1 Carbon
      p.lead Carbon Desktop Installer

br
.container
  .row
    .span2.offset5
      center
        a(href='http://download.clockworkmod.com/carbon/CarbonSetup.msi')
          img(src='/images/windows-large.png')
    .span2
      center
        a(href='http://download.clockworkmod.com/carbon/carbon-mac.zip')
          img(src='/images/apple-large.png')
    .span2
      center
        a(href='http://download.clockworkmod.com/carbon/carbon-linux.tgz')
          img(src='/images/linux-large.png')
  .row
    .span2.offset5
      center
        a(href='/carbon/drivers') Windows Android Drivers