.topbar
  .topbar-inner
    .container
      ul.nav
        li
          a(href='http://developer.clockworkmod.com') ROM Developer Portal

header.jumbotron.padded.masthead
  .inner
    .container
      h1 ClockworkMod
      p.lead Unlocking the power of your phone one app at a time.


header.jumbotron.subhead
  .inner
    .container
      .section
        .row
          .offset4.span7
            h1 DeskSMS
          .span5
            h1 ROM Manager
        .row
          .span11
            a(href='https://market.android.com/details?id=com.koushikdutta.desktopsms&hl=en')
              img(src='/images/desksms-thumb.png')
          .span5
            a(href='https://market.android.com/details?id=com.koushikdutta.rommanager&hl=en')
              img(src='/images/rommanager-thumb.png')


