include topbar

header.jumbotron.padded.masthead
  .inner
    .container
      h1 ClockworkMod
      p.lead Unlocking the potential of your phone, one app at a time.


header.jumbotron.subhead
  .inner
    .container
      .section
        .row
          .span8
            center
              a(href='https://market.android.com/details?id=com.koushikdutta.tether')
                img#desksms-img(src='/images/tether-thumb.png')
          .span8
            center
              a(href='https://market.android.com/details?id=com.koushikdutta.rommanager&hl=en')
                img#rommanager-img(src='/images/rommanager-thumb.png')
        .row
          .span8
            center
              a(href='https://market.android.com/details?id=com.koushikdutta.tether')
                h4 Tether
          .span8
            center
              a(href='https://market.android.com/details?id=com.koushikdutta.rommanager&hl=en')
                h4 ROM Manager
        .row
          .span8
            center
              h5 Use your phone's web connection on a laptop or PC. Surf anywhere.
          .span8
            center
              h5 Your Android, unlocked.
        .row
          .span8
            center
              a(href="javascript:startPurchase('Tether', 'tether.premium')")
                img(style="vertical-align:middle", src='images/wallet.png')
                span(style="vertical-align:middle") gift me!
          .span8
            center
              a(href="javascript:startPurchase('ROM Manager', 'donation')")
                img(style="vertical-align:middle", src='images/wallet.png')
                span(style="vertical-align:middle") gift me!

        .row
          .span16
            center
              a(href='https://market.android.com/details?id=com.koushikdutta.desktopsms&hl=en')
                img#desksms-img(src='/images/desksms-thumb.png')
        .row
          .span16
            center
              a(href='https://market.android.com/details?id=com.koushikdutta.desktopsms&hl=en')
                h4 DeskSMS
        .row
          .span16
            center
              h5 Seamlessly text message from your email, browser, or instant messenger.
        .row
          .span16
            center
              a(href="javascript:startPurchase('DeskSMS', 'desksms.subscription0')")
                img(style="vertical-align:middle", src='images/wallet.png')
                span(style="vertical-align:middle") gift me!

    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br



#start-purchase.dialog-container.hidden
  .ui-dialog(style='outline-width: 0px; outline-style: initial; outline-color: initial; height: auto; width: 100%; top: 40px; display: block; z-index: 1001;')
    .modal(style='position: relative; top: auto; left: auto; margin: 0 auto; z-index: 1')
      .modal-header
        center
          h3#buy-title Buy
        a.close(href='javascript:void(0)', onclick='closeDialog(this)') &times;
      section.modal-body
        center
          #product-id.hidden
          h5 Please enter your email address.
          h5 This is where your redeem code will be sent.
          h5 A redeem code can be used by anyone. Give it as a gift!
          br
          div
            h5 Email
          div
            input#buy-email
          div
            h5 Confirm Email
          div
            input#buy-email-confirm
      .modal-footer
        a.btn.primary(href='javascript:void(0)', onclick='doPurchase()') Buy
