.topbar
  .topbar-inner
    .container
      ul.nav
        li
          a(href='http://developer.clockworkmod.com') ROM Developer Portal
        li
          a(href='http://facebook.com/ClockworkMod') Facebook
        li
          a(href='http://gplus.to/koush') Google+
        li
          a(href='http://twitter.com/ClockworkMod') Twitter

header.jumbotron.padded.masthead
  .inner
    .container
      h1 ClockworkMod
      p.lead Unlocking the potential of your phone one app at a time.


header.jumbotron.subhead
  .inner
    .container
      .section
        .row
          .span11
            a(href='https://market.android.com/details?id=com.koushikdutta.desktopsms&hl=en')
              img(src='/images/desksms-thumb.png')
          .span5
            a(href='https://market.android.com/details?id=com.koushikdutta.rommanager&hl=en')
              img(src='/images/rommanager-thumb.png')
        .row
          .offset2.span7
            a(href='https://market.android.com/details?id=com.koushikdutta.desktopsms&hl=en')
              h4 DeskSMS
          .offset3.span4
            a(href='https://market.android.com/details?id=com.koushikdutta.rommanager&hl=en')
              h4 ROM Manager
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
