include topbar

header.jumbotron.padded.masthead
  .inner
    .container
      h1 ClockworkMod
      p.lead Unlocking the potential of your phone, one app at a time.


header.jumbotron.subhead
  .inner
    .container
      .section
        .row
          .span8
            center
              a(href='javascript:void(0)')
                img#desksms-img(src='/images/tether-thumb.png')
          .span8
            center
              a(href='https://market.android.com/details?id=com.koushikdutta.rommanager&hl=en')
                img#rommanager-img(src='/images/rommanager-thumb.png')
        .row
          .span8
            center
              a(href='javascript:void(0)')
                h4 Tether (Beta)
          .span8
            center
              a(href='https://market.android.com/details?id=com.koushikdutta.rommanager&hl=en')
                h4 ROM Manager
        .row
          .span8
            center
              h5 Connect your phone to a laptop or computer to surf the internet anywhere.
              h5
                span.label.important Coming Soon!
          .span8
            center
              h5 Your Android, unlocked.


        .row
          .span16
            center
              a(href='javascript:void(0)')
                img#desksms-img(src='/images/desksms-thumb.png')
        .row
          .span16
            center
              a(href='https://market.android.com/details?id=com.koushikdutta.desktopsms&hl=en')
                h4 DeskSMS
        .row
          .span16
            center
              h5 Seamlessly text message from your email, browser, or instant messenger.

    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
