.topbar
  .topbar-inner
    .container
      ul.nav
        li
          a(href='/') Home
        li
          a(href='http://developer.clockworkmod.com') Developer Portal
        li
          a(href='/rommanager') ROM Manager
        li
          a(href='/carbon') Carbon
        li
          a(href='/tether/drivers') Tether Drivers
        li
          a(href='http://facebook.com/ClockworkMod') Facebook
        li
          a(href='http://gplus.to/koush') Google+
        li
          a(href='http://twitter.com/ClockworkMod') Twitter
