.topbar
  .topbar-inner
    .container
      ul.nav
        li
          a(href='http://developer.clockworkmod.com') ROM Manager Developer Portal
        li
          a(href='http://facebook.com/ClockworkMod') Facebook
        li
          a(href='http://gplus.to/koush') Google+
        li
          a(href='http://twitter.com/ClockworkMod') Twitter
