include ../topbar

header.jumbotron.padded.masthead
  .inner
    .container
      h1 Tether
      p.lead Drivers for Windows

.container
  .section
    .row
      .span16
        h3
          center To complete your Tether installation, you must install the manufacturer provided "adb" drivers for your phone that allow it to connect to your PC.
        br
        br

    .page-header
      h2 Motorola
    .row
      .span16
        h3
          span
            a(href='http://download.clockworkmod.com/drivers/MotoHelper_2.1.32_Driver_5.4.0.exe') Motorola Drivers - 
          span All Motorola Phones
        br
        br

    .page-header
      h2 Google
    .row
      .span16
        h3
          span
            a(href='http://download.clockworkmod.com/drivers/google-adb-drivers.zip') Google Drivers - 
          span This driver will not work on the Galaxy Nexus. Use the next link below that is specifically for the Galaxy Nexus.
        h3
          span
            a(href='http://download.clockworkmod.com/drivers/Verizon_Wireless_I515_Galaxy_Nexus_USB_Driver_v1.4.6.0.exe') Galaxy Nexus Drivers - 
          span Works with both GSM and CDMA (Verizon) Galaxy Nexus.
        br
        br

    .page-header
      h2 Samsung
    .row
      .span16
        h3
          span
            a(href='http://download.clockworkmod.com/drivers/SAMSUNG_USB_Driver_for_Mobile_Phones.exe') Samsung Drivers - 
          span Most Samsung Phones
        br
    .row
      .span14.offset1
        h4 If the above Samsung Drivers do not work, please try the following:
        ol
          li 
            span Go to the 
            span
              a(href='http://www.samsung.com/us/mobile/cell-phones') Samsung Mobile site
          li Search for your phone using the search box.
          li Once you find your phone, click Support in the top right of the phone's product page.
          li In the list of downloads, download and install the USB Driver.
        br
        br


    .page-header
        h2 HTC
    .row
      .span16
        h3
          span
            a(href='http://download.clockworkmod.com/drivers/HTCDriver3.0.0.007.exe') HTC Drivers - 
          span Most HTC Phones
        br
    .row
      .span14.offset1
        h4 If the above HTC Drivers do not work, please try the following:
        ol
          li
            span Go to the 
            span
              a(href='http://www.htc.com') HTC site
          li Search for your phone using the search box.
          li Once you find your phone, click Support in the bottom left of the phone's product page.
          li In the support page, click the downloads tab.
          li Download the HTC Sync application.
          li After downloading HTC Sync, start the installation process. You only need to install the USB driver and not the app itself.
        br
        br


    .page-header
      h2 Sony
    .row
      .span16
        h3
          span
            a(href='http://download.clockworkmod.com/drivers/Sony_Ericsson_PC_Companion_2.02.002_Web.exe') Sony Drivers - 
          span Most Sony Phones
        br
        br

    .page-header
      h2 LG Electronics
    .row
      .span16
        h3
          span
            a(href='http://download.clockworkmod.com/drivers/LGUnitedMobileDriver_S498MA22_WHQL_ML_Ver_2.2.exe') LG Electronics Drivers - 
          span Most LG Phones
        br
    .row
      .span14.offset1
        h4 If the above LG Electronics Drivers do not work, please try the following:
        ol
          li 
            span Go to the 
            span
              a(href='http://www.lg.com/') LG Electronics site
          li Search for your phone using the search box.
          li Once you find your phone, click the Resources tab.
          li In the support page, click the downloads tab.
          li Download and install the USB driver.
        br
        br
        

    .page-header
      h2 ZTE
    .row
      .span16
        h3
          span
            a(href='http://download.clockworkmod.com/drivers/ZTE_Android_Driver.exe') ZTE Drivers - 
          span All ZTE Phones
        br
        br
